.Background{
  
  
    color: white;
    display: grid;
    grid-template-columns: 0.5fr 2fr;
    width:100%;
    overflow-x: hidden;
   
}
.component1{
    display: grid;
    width: 180px;
    background: rgb(206, 122, 122);
}



.directorItem{
    padding: 15px 5px;
    border-bottom: 2px solid red;
}

.directorItemForMovie{
    display: grid;
    border-bottom: 2px solid red;
    
    
    
}
.Movies:hover{
    border: 3px solid #ccc;
}
/* ================= */
ul, li {
    list-style: none;
}
.container{
    width: 90%;
    margin: 0 auto;
    display: flex;
}

.sidebar{
    width: 25%;
}

.main{
    width: 70%;
    margin: 100px auto;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.card{
    max-width:300px;
    padding: 10px;
    padding-top: 30px;
    margin:5px;
    background-color: #e7a61a;

    -webkit-box-shadow: -1px 11px 10px -7px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 11px 10px -7px rgba(0,0,0,0.75);
box-shadow: -1px 11px 10px -7px rgba(0,0,0,0.75);
}

.rank{
    margin-top: 10px;
    background-color: blue;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    padding: 10px;;
    color: white;
}